[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "2.*"
PyQt6 = "6.*"
click = "8.*"

[dev-packages]
pyinstaller = "6.*"
pytest = "8.*"
ruff = "0.*"

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
